<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>User Profile</h2>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="logout()">Logout </a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="user-container">
  <div class="row profileLisiting">
        <div class="col-md-4 profileimage">
          <h3>{{user_details.firstname}} {{user_details.lastname}}</h3><img src="{{ user_details.userimg }}" class="img-circle img-responsive">
        </div>
        <div class="col-md-6 profileSection">
            <h4>Email:   {{ user_details.email }}</h4>
            <h4>Firstname:   {{ user_details.firstname }}</h4>
            <h4>Lastname:   {{ user_details.lastname }}</h4>
            <h4>Gender:   {{ user_details.gender }}</h4>
            <h4>Address:   {{ user_details.address }}</h4>
        </div>
        
        <div class="col-md-2">
          <span class="pull-right">
            <a ui-sref="editprofile({ id: user_details.id })" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            <a type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
          </span>
        </div>
  </div>
  </div>
</div>