.panel-body {
    padding: 14px;
}
.panel-default {
	opacity: 0.9;
	margin-top:30px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #b7b4b4;
    border-color: #ddd;
    font-size: 21px;
}
.form-group.last {
	margin-bottom:0px;
}
.form-control {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}
.loginbtn button {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 12px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    width: 85%;
}
.user-container {
    margin-top: 40px;
    margin-left: 15px;
    width: 855px;
}
.profileSection {
    margin-top: 50px;
}
.profileSection h4 {
    margin-top: 10px;
    margin-bottom: 35px;
}
.profileimage img {
    width: 150px;
}
.profileimage h4 {
    margin-bottom: 25px;
}
.profileLisiting {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #e1e1e1;
    height: 365px;
}
.editprofileform {
    margin-top: 45px;
    border: 2px solid #ddd;
    padding: 20px;
    background-color: #e1e1e1;
    height: 500px;
}
.updatebtn {
    margin-left: 20%;
    padding-left: 50px;
}
.registerbtn {
    margin-top: 10px;
}